extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/stylelist") Inventory
  br
  a(href="/addstyle") Add Styles
  br
  a(href="/form") Take orders
  br
  a(href="/orderlist") Order List